version: 3
images:
  base_image:
    name: registry.redhat.io/ansible-automation-platform-24/ee-minimal-rhel9:latest
options:
  package_manager_path: /usr/bin/microdnf
dependencies:
  galaxy: requirements.yml
additional_build_steps:
  prepend_final: |
    COPY gcp-ssh-wrapper.sh /usr/local/bin/gcp-ssh-wrapper
    COPY gcp-scp-wrapper.sh /usr/local/bin/gcp-scp-wrapper
    COPY google-cloud-sdk.repo /etc/yum.repos.d/
    RUN /usr/bin/microdnf install -y google-cloud-cli
    RUN chmod a+x /usr/local/bin/gcp-ssh-wrapper
    RUN chmod a+x /usr/local/bin/gcp-scp-wrapper